.banner{
    text-transform: uppercase;
}

.banner h2{
    font-size: 7vh;
}

.banner p{
    font-size: 3vh;
    font-style: italic;
}
.products .card{
    height: 100%;
    background-repeat: no-repeat;
    background-size: contain;
}
